/*Estilos generales*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,h1,h2,h3,h4,h5,h6,span,input,label,small{
  font-family: 'Armata', sans-serif !important;
}
/*Estilos al Screen1*/
/*//----->Carousel*/
.content-carousel{
  margin: 16% auto 2% auto;
  width: 60%;
  height: 400px !important;
}
/*//----->Estilo al bullet*/
.indicators .active{
  background-color: #f64552 !important;
}
.indicator-item{
  background-color: #a4a1a1 !important;
}
/*//----->Estilo al texto del Screen1*/
.content-span{
  z-index: 10;
}
.strong-span{
  font-weight: bold;
  font-size: 1.5rem;
  color: #212121;
}
/*//----->Estilo al botón de Registrar*/
.btn-carousel{
  background-color: #fbd43b;
  margin: 0 20.5%;
  width: 60%;
}

/*Estilos al Screen2*/
/*//----->Estilos a la imagen principal */
.margin-container{
  margin-top: 20%;
}
.img-phone, .img-msg, .img-check{
  width: 100%;
  height: auto;
}
/*//----->Estilos al input*/
.text-center{
  text-align: center;
}
.input-phone, .input-msg, .input-name, .input-mail{
  position: relative;
}
/*//----->Estilos a la img dentro del input*/
.phone-number{
  position: absolute;
  top: 10px;
  left: 30px;
  width: 60px;
}
/*//----->Estilos al checkbox*/
.input-check{
  margin-left: 5%;
}
[type="checkbox"].filled-in:not(:checked){
  border: 2px solid #DFDFDF !important;
}
.input-check span{
  color: #00c3a3;
}
/*//----->Estilos al botón Registrar*/
.waves-effect{
  background-color: #DFDFDF !important;
}
.btn-continue{
  margin: 30% 30%;
  color: #fff !important;
}
/*Estilos al Screen3*/
.lock-img{
  position: absolute;
  top: 10px;
  left: 30px;
  width: 20px;
}
.img-clock{
  width: 20px;
  margin-top: 2px;
}
/*Estilos al Screen4*/
.user-img, .msg-img{
  position: absolute;
  top: 10px;
  left: 20px;
  width: 30px;
}
.btn-crear-cuenta{
  margin: 7% 28%;
  width: 45%;
  color: #fff !important;
}
.no-mrg-btm{
  margin-bottom: 0 !important;
}
.center .span-clave{
  color: #8f8f8f;
  margin: 0 5%;
}
/*Estilos al Screen5*/
.check-container{
  background-color: #FBD43B;
  margin: 0 !important;
  width: 100% !important;
  height: 100vh !important;
}
.box-check-img{
  padding-top: 40%;
}
